
<nav class="navbar navbar-default">
    <div class="container body-content">
        <div class="container-fluid">
            <div class="navbar-header">
                <a routerLink="/admin" class="navbar-brand" href="/home"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" routerLinkActive="active">
                        Forespørsler <span style="color:aquamarine"><b>{{sum}}</b></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="./oppdrag" routerLinkActive="active">Oppdrag<span style="color:aquamarine;"><b> {{counter == null || counter.nyeoppdrag == 0 ? "" : counter.nyeoppdrag}}</b></span></a></li>

                        <li><a routerLink="./oversettelse" routerLinkActive="active">Oversettelser <span style="color:aquamarine;"><b> {{antallOversettelser }}</b></span></a></li>

                        <li><a routerLink="./nye_kunder" routerLinkActive="active">Kunder <span style="color:aquamarine;"><b>{{counter == null || counter.nyekunder == 0 ? "" : counter.nyekunder}}</b></span></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Brukere
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="./tolk-liste" routerLinkActive="active">Ansatte</a></li>
                        <li><a routerLink="./kunder" routerLinkActive="active">Kunder</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Bestillinger <span style="color:aquamarine;"><b> {{counter == null ? "0" : counter.oppdrag}}</b></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="./admin-tolk-bestilling-oversikt" routerLinkActive="active">Tolkeoppdrag <span style="color:aquamarine;"><b> {{counter == null ? "0" : counter.oppdrag}}</b></span></a></li>
                        <li><a routerLink="./admin-oversettelse-bestilling-oversikt" routerLinkActive="active">Oversettelse</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Tolke historikk 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="./admin-tolk-utforte-oppdrag" routerLinkActive="active">Utførte oppdrag</a></li>
                        <li><a routerLink="./admin-tolk-avbestillinger-oversikt" routerLinkActive="active">Avbestilte oppdrag</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Oversettelse historikk
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                        <li><a routerLink="./admin-utforte-oversettelse-oppdrag" routerLinkActive="active">Utforte oversettelse</a></li>
                        <li><a routerLink="./admin-avbestilte-oversettelse-oppdrag" routerLinkActive="active">Oversettelse</a></li>
                    </ul>
                </li>
            </ul>


            <ul class="nav navbar-nav "></ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" routerLinkActive="active">
                        Opprett
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="./opprett-oversettelse" routerLinkActive="active">Opprett oversettelse</a></li>
                        <li><a routerLink="./opprett-bestilling" routerLinkActive="active">Opprett bestillinger</a></li>
                        <li><a routerLink="./opprett-kunde" routerLinkActive="active">Opprett kunde</a></li>
                        <li><a routerLink="./opprett-tolk" routerLinkActive="active">Opprett tolk</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" routerLinkActive="active">
                        Innstillinger
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="./kunde-tolke-historikk" routerLinkActive="active">Endre bestillinger</a></li>
                        <li><a routerLink="./kunde-tolke-historikk" routerLinkActive="active">Endre kunde</a></li>
                        <li><a routerLink="./kunde-tolke-historikk" routerLinkActive="active">Endre tolk</a></li>
                    </ul>
                </li>
                <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-out"></span> Logg ut</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="container body-content">
<router-outlet></router-outlet>
</div>