
<nav class="navbar navbar-default">
<div class="container body-content">

    <div class="container-fluid">

        <div class="navbar-header">
            <a routerLink="/admin"  class="navbar-brand" href="/home" ><span class="glyphicon glyphicon-home"></span></a>
        </div>

        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" routerLinkActive="active" routerLink="/admin">
                    Forespørsler
                    <span style="color:orangered"><b> {{sum}}</b></span>
                    <span class="caret"></span>
                    
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="./oppdrag" routerLinkActive="active">Oppdrag<span style="color:orangered;"><b> {{antallOppdrag}}</b></span></a></li>
                    
                    <li><a routerLink="./oversettelse" routerLinkActive="active">Oversettelser <span style="color:orangered;"><b> {{antallOversettelser}}</b></span></a></li>
                    
                    <li><a routerLink="./nye_kunder" routerLinkActive="active">Kunder <span style="color:orangered;"><b>{{antallKunder}}</b></span></a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Brukere
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/info-om-oss" routerLinkActive="active">Tolk (Ansatte)</a></li>
                    <li><a routerLink="./kunder" routerLinkActive="active">Kunder</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Bestillinger <span style="color:orangered;"><b> 7</b></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/info-om-oss" routerLinkActive="active">Oppdrag Historikk</a></li>
                </ul>
            </li>

            <li><a routerLink="/bestill-oversettelse" routerLinkActive="active">Avbestillinger <span style="color:orangered;"><b>1</b></span></a></li>
        </ul>
        <ul class="nav navbar-nav "></ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/home" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
            <li><a routerLink="/home" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Logg ut</a></li>
        </ul>
    </div>

</div>
</nav>
<div class="container body-content">
<router-outlet ></router-outlet>
</div>