<p style="float:right"><span style="color:forestgreen">Innlogget: </span> {{bruker != null ? bruker.email : ""}}  (id: {{bruker != null ? bruker.id : ""}})</p>
<div >
    <div class="col-md-offset-0" >
        
        <p style="display: inline-block;"><span class="glyphicon glyphicon-info-sign"></span> Forespørsler som venter behandling</p>

        <p style="display: inline-block;" class="text-center" *ngIf="loading">
					<img  src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
					</p>
       
        <hr />
        <div >
        <h3 style="display: inline-block;"> Nye Oppdrag</h3>
        
        </div>
        <br />
        
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Mottatt</th>
                    <th>Type</th>
                    <th>Fra til Språk</th>
                    <th>Tidspunk</th>
                </tr>
            </thead>
            <tbody *ngFor="let oppdrag of arrayOppdrag; let i = index">
                <tr>
                    <td>Mottatt dato</td>
                    <td>{{oppdrag.type}}</td>
                    <td>{{oppdrag.fraspraak}} <span style="color: lightgray" class="glyphicon glyphicon-arrow-right"></span> {{oppdrag.tilspraak}} </td>
                    <td>{{oppdrag.dato}}</td>
                    <td *ngIf="i !== index || !avbryt" width="230"><button style="width:85px" class="btn btn-success" (click)="setInfo(i)"><span class="glyphicon glyphicon-info-sign"></span> {{i === index && info ? "Sjul" : "Vis mer"}}</button>
                        <button style="width:85px" class="btn btn-primary" (click)="onUtdel(oppdrag)"><span class="glyphicon glyphicon-share-alt"></span> Utdel</button>
                        <button style="width:40px" class="btn btn-default" (click)="setAvbryt(i)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                    <td *ngIf="i === index && avbryt" width="205"><button style="width:49%" class="btn btn-danger" ><span class="glyphicon glyphicon-trash"></span> Slett</button>
                        <button style="width:49%" class="btn btn-default" (click)="setAvbryt(i)"><span class="glyphicon glyphicon-chevron-right"></span> Avbryt</button>
                    </td>
                </tr>

                <tr *ngIf="i === index && info">
                    <td colspan="7">
                        <table   class="table table-bordered table-condensed table1">
                            <tr><th style="color:orange">Sted</th><td style="color:black">{{arrayOppdrag[index].sted}}</td></tr>
                            <tr><th style="color:darkorange">Navn</th><td style="color:black">{{arrayOppdrag[index].fornavn}} {{arrayOppdrag[index].etternavn}}</td></tr>
                            <tr><th style="color:orange">Firma</th><td style="color:black">{{arrayOppdrag[index].firma}}</td></tr>
                            <tr><th style="color:darkorange">Tlf</th><td style="color:black">{{arrayOppdrag[index].tlf}}</td></tr>
                            <tr><th style="color:orange">E-post</th><td style="color:black">{{arrayOppdrag[index].email}}</td></tr>
                            <tr><th style="color:darkorange">Melding</th><td style="color:black">.info er et generisk toppnivådomene på internett, beregnet for informative nettsteder (selv om bruken er uten begrensninger). Det var en del av ICANNs sterkt publiserte annonsering, sent i 2000, av en gradvis innfasing av syv nye generiske toppnivådomener (gTLD'er). Hendelsen ble karakterisert som den første større tilføyelsen av større gTLD'er til internett etter at DNS-systemet ble utviklet på 1980-tallet. De syv nye gTLD'ene, som var utvalgt fra over 180 forslag, hadde som delformål å lette noe av presset fra det overbefolkede .com-domenet.

.info har vært det mest suksessfulle av de syv nye domenene, med over 4 millioner domenenavn registrert frem til mars 2007. Over 1,6 millioner .info-nettsteder er i aktivt bruk pr. juli 2007.</td></tr>

                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>