


<div>
    <br />
    <div>
    <h3 >Utvalg tolker </h3>
    <p><span class="glyphicon glyphicon-arrow-right"></span> Engelsk og Spansk </p> 
    </div>
    <br />

    
    <div style="width:400px;">


        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th><p style="display: inline-block;">Velg Alle</p> </th>
                    <td align="center"><input style="width: 35px" (click)="setAllChecked()"   type="checkbox" name="mon" id="mon" value="1" class="form-control big-checkbox" /></td>
                </tr>
            </thead>

            <tbody *ngFor="let tolk of arrayTolk; let i = index  ">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="display:inline-block"><p style="display:inline-block;width: 200px">{{tolk.fornavn}} {{tolk.etternavn}}</p> <p style="display:inline-block;"><span class="glyphicon glyphicon-earphone"></span> {{tolk.tlf}}</p></td>
              
                        </table>
                    </td>
                    <td align="center"><input [checked]="arrayTolk[i].valgt"  (change)="arrayTolk[i].valgt = !arrayTolk[i].valgt"  style="width: 35px" type="checkbox" name="checkbox" id="" value="{{tolk}}" class="form-control" /></td>
                </tr>
                

            </tbody>


        </table>

        <button style="width:100%; float:right; " class="btn btn-primary" (click)="checker()">Send forespørsel</button>
    </div>


</div>