<div *ngIf="showForm">
    <h1>Bestill Oversettelse</h1>
    <hr />
    <div style="min-height:500px;max-width:910px;background-color:#F4F9F9;">
        <div style="display:inline-block;width:300px;">
            <div style="background-color:white;width:260px; height:270px">
                <img style="width:150px;border-bottom: solid #1F1F1F;margin-left:20px; margin-top:10px" src="../../bilder/hot_operator.jpg">
            </div>

            

        </div>


        <div style="float:right;display:inline-block;border: solid #F8FCFC;  max-width:610px; height:500px;border-radius: 5px;">


            <div style="padding-top: 10px;width:300px; display:inline-block">
                <form [formGroup]='form'>

                    <div class="form-group">
                        <label for="firma">Firma</label>
                        <input required [ngStyle]="{'border-left': form.controls.firma.valid || !form.controls.firma.touched ? '' : '3px solid red'}" class="form-control" type="text" formControlName="firma" placeholder="Firma/institusjon" />

                    </div>
                    <div class="form-group line-equal">
                        <label for="kontaktperson">Kontaktperson</label>
                        <input required [ngStyle]="{'border-left': form.controls.fornavn.valid || !form.controls.fornavn.touched ? '' : '3px solid red'}" type="text" class="form-control" formControlName="fornavn" placeholder="Fornavn" />
                    </div>

                    <div class="form-group line-equal">
                        <label for="kontaktperson"></label>
                        <input required [ngStyle]="{'border-left': form.controls.etternavn.valid || !form.controls.etternavn.touched ? '' : '3px solid red'}" type="text" class="form-control" formControlName="etternavn" placeholder="Etternavn" />
                    </div>


                    <div class="form-group">
                        <label for="epost">Epost</label>
                        <input required [ngStyle]="{'border-left': form.controls.epost.valid || !form.controls.epost.touched ? '' : '3px solid red'}" type="email" class="form-control" formControlName="epost" placeholder="Epostadresse" />
                    </div>

                    <div class="form-group line-equal">
                        <label for="telefon">Telefon</label>
                        <input required [ngStyle]="{'border-left': form.controls.telefon.valid || !form.controls.telefon.touched ? '' : '3px solid red'}" class="form-control" minlength="5" maxlength="11" formControlName="telefon" placeholder="Telefon" />
                    </div>

                    <div class="form-group line-equal">
                        <label for="telefax">Telefax</label>
                        <input required [ngStyle]="{'border-left': form.controls.telefax.valid || !form.controls.telefax.touched ? '' : '3px solid red'}" type="number" class="form-control" formControlName="telefax" placeholder="Telefax" />
                    </div>

                    <div class="form-group">
                        <label for="fakturaadresse">FakturaAdresse</label>
                        <input required [ngStyle]="{'border-left': form.controls.fakturaadresse.valid || !form.controls.fakturaadresse.touched ? '' : '3px solid red'}" type="text" class="form-control" formControlName="fakturaadresse" placeholder="Fakturaadresse" />
                    </div>

                    <div style="display:inline-block; width:84px" class="form-group">
                        <label for="postnr">Postnr</label>
                        <input required [ngStyle]="{'border-left': form.controls.postnr.valid || !form.controls.postnr.touched ? '' : '3px solid red'}" type="number" pattern=".{4,4}" class="form-control" formControlName="postnr" placeholder="Postnr" />
                    </div>

                    <div style="display:inline-block;width:150px" class="form-group">
                        <label for="poststed">Poststed</label>
                        <input required [ngStyle]="{'border-left': form.controls.poststed.valid || !form.controls.poststed.touched ? '' : '3px solid red'}" type="text" class="form-control" formControlName="poststed" placeholder="Poststed" />
                    </div>
                </form>
            </div>



            <div style="vertical-align:top;padding-left:20px; padding-top: 10px;width:280px; display:inline-block">
                <form [formGroup]='form'>

                    <div class="form-group">
                        <label for="frasprak">Velg fil</label>
                        <div class="inner-addon left-addon">
                            <input class="form-control"  type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx,.txt">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="typetolk">Type Dokument</label>
                        <div class="inner-addon left-addon">
                            <select (change)="onchange($event.target.value)"  class="form-control">
                                <option value="Vitnemål">Vitnemål</option>
                                <option value="Attester">Attester</option>
                                <option value="Juridiske dokumenter">Juridiske dokumenter</option>
                                <option value="Medisinske dokumenter">Medisinske dokumenter</option>
                                <option value="Språkvask/Korrektur">Språkvask/Korrektur</option>
                                <option value="Andre">Andre</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group line-equal">
                        <label for="fraspraak">Fra Språk</label>
                        <select [ngStyle]="{'border-left': validerSpraak ? '' : '3px solid red'}" (change)="setFraSpraak($event.target.value)" class="form-control">
                            <option [value]="item.id" *ngFor="let item of spraak; let i = index">{{item.spraak}}</option>
                        </select>
                    </div>

                    <div class="form-group line-equal">
                        <label for="tilspraak">Til Språk</label>
                        <select [ngStyle]="{'border-left': validerSpraak ? '' : '3px solid red'}" (change)="setTilSpraak($event.target.value)" class="form-control">
                            <option [value]="item.id" [selected]="i == 1" *ngFor="let item of spraak; let i = index">{{item.spraak}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="oppdragsdato">Ferdiggjøresdato</label>
                        <div class="inner-addon">
                            <input min="{{minDate}}" [ngModelOptions]="{standalone: true}" [ngModel]="startDate" (ngModelChange)="startDate = $event" type="date" class="form-control" />
                            <!--<span class="glyphicon glyphicon-calendar"></span>-->
                        </div>
                    </div>


                        <div class="form-group">
                            <label for="andreopplysninger">Andre opplysninger</label>
                            <div class="inner-addon left-addon">
                                <textarea ng-model="andreopplysninger" style="height: 115px" class="form-control" id="andreopplysningerid"
                                          formControlName="andreopplysninger" autocomplete="off" placeholder="Andre opplysninger"></textarea>
                            </div>
                        </div>
                   




                </form>

            </div>

        </div>

    </div>

    <div style="max-width:910px;">
        <hr />
        <div style="float:right;clear:both;padding-top:10px">
            <p><span *ngIf="ugyldigFelter" style="color:red; margin-right:15px">Ugyldig felter</span><button (click)="postKunde()" class="btn btn-success btn-lg">Send bestilling</button></p>

        </div>
    </div>

</div>




<div *ngIf="!showForm">
    <response [underText]="underText" [response]="response" [path]="path" [responseText]="responseText"></response>
    <div *ngIf="response !== 'loading'" align="center"><h3><button (click)="tilbake()" class="btn btn-success btn-lg">Gå tilbake</button></h3></div>

</div>
