
<nav class="navbar navbar-default">
    <div class="container body-content">
        <div class="container-fluid">
            <div class="navbar-header">
                <a routerLink="/home" routerLinkActive="active" class="navbar-brand" href="/home"><span class="glyphicon glyphicon-home"></span> Tolkesentralen</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a routerLink="/bestill-tolk" routerLinkActive="active">Bestill Tolk</a></li>
                    <li><a routerLink="/bestill-oversettelse" routerLinkActive="active">Bestill Oversettelse</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Info
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/info-om-oss" routerLinkActive="active">Om oss</a></li>
                            <li><a routerLink="/info-tolk" routerLinkActive="active">Tolk</a></li>
                            <li><a routerLink="/info-oversettelse" routerLinkActive="active">Oversettelse</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav "></ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/register" routerLinkActive="active"><span class="glyphicon glyphicon-registration-mark"></span> Bli Kunde</a></li>
                    <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Logg inn</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container body-content" style="min-height: 700px;"  >
    <router-outlet></router-outlet>
    
</div>

<br />
<footer  style="color:white;text-align:center; background-color: #1F1F1F;border-color: #d34615;border-top: solid #d34615; right: 0;bottom: 0;left: 0;">
    <br />
    
    
    <div >
        <p style="font-size: 16px;"><b>BESTILL NÅ !</b> Vi tar imot oppdrag over hele landet/utl.</p>
        <p style="font-size: 20px;"><b>(0047) 21413005 / 45034130</b></p>


        <br />
        <p>&copy; 2017</p>
    </div>
    <img />
    <p></p>
    <img />
</footer>



