<br />
<h1 style="color:#005200">Velkommen til Tolkesentralen!</h1>
<hr />

<div border="1" style="margin-left:5px">
    <table>
        <tr>
            <th style="width:33%"><p style="font-size: 24px;" border="5">Oversettelse av websider og Lokaliseringstjenester</p></th>
            <th style="width:33%"><p style="font-size: 24px;">Tolking og dokument oversettelser</p></th>
            <th style="width:33%"><p style="font-size: 24px;">Korreotulering, Transkribering, og Lyddopp. tjenester</p></th>
        </tr>
        <tr>
            <td><img style="width:360px;" src="../../bilder/tastatur.jpg"></td>
            <td><img style="width:360px;" src="../../bilder/oversettelse.jpg"></td>
            <td><img style="width:360px;" src="../../bilder/dame.jpg"></td>
        </tr>
    </table>

    <hr />

    <div>
        <h3>Tolkesentralen er en tjenesteleverandør som garanterer kundene høy kvalitet på tolketjenestene som bestilles. Selve idè grunnlaget til Tolkesentralen er å levere høyest mulig kvalitet til en pris som skal være blant markedets laveste.</h3>
    </div>

    <br />
    <br />

</div> 
