
<div>
    <h1>Registreringsskjema</h1>
    <form [formGroup]='form'>

        <div class="form-group">
            <label for="firma">Firma</label>
            <div class="inner-addon left-addon">
                <input type="text" class="form-control" id="firmaid" formControlName="firma" placeholder="Firma/institusjon"  />
            </div>
        </div>

        <div class="form-group">
            <label for="kontaktperson">Kontaktperson</label>
            <div class="inner-addon left-addon">
                <input type="text" id="kontaktpersonid" class="form-control" formControlName="fornavn" placeholder="Fornavn"  />
            </div>
            
        </div>

        <div class="form-group">
            <div class="inner-addon left-addon">
                <input type="text" id="kontaktpersonid" class="form-control" formControlName="etternavn" placeholder="Etternavn" />
            </div>
        </div>
        <div class="form-group">
            <label for="tlf">Telefon</label>
            <div class="inner-addon left-addon">
                <input type="text" id="telefonid" class="form-control"  minlength="5" maxlength="8"  formControlName="tlf" placeholder="Telefon" />

            </div>
        </div>
        <div class="form-group">
            <label for="telefax">Telefax</label>
            <div class="inner-addon left-addon">
                <input type="text" class="form-control" id="url" formControlName="telefax" placeholder="Telefax" />
            </div>
        </div>

        <div class="form-group">
            <label for="fakturaadresse">FakturaAdresse</label>
            <div class="inner-addon left-addon">
                <input type="text" class="form-control" id="url" formControlName="fakturaadresse" placeholder="Fakturaadresse"  />

            </div>
        </div>

        <div class="form-group">
            <label for="postnr">Postnr</label>
            <div class="inner-addon left-addon">
                <input type="text" class="form-control" id="url" formControlName="postnr" placeholder="Postnr"  />
            </div>
        </div>
        <div class="form-group">
            <label for="poststed">Poststed</label>
            <div class="inner-addon left-addon">
                <input type="text" class="form-control" id="url" formControlName="poststed" placeholder="Poststed"  />
            </div>
        </div>

        <div class="form-group">
            <hr />
            <label for="email">Brukernavn</label>
            <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-envelope"></span>
                <input type="text" class="form-control" id="url" formControlName="email" placeholder="Epostadresse"  />
            </div>
        </div>

        <div class="form-group">
            <label for="passord">Passord</label>
            <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-lock"></span>
                <input type="password" class="form-control" id="url" formControlName="passord" placeholder="Passord"  />
            </div>
        </div>
        <div class="form-group">
            <label for="bekreftpassord">Bekreft passord</label>
            <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-lock"></span>
                <input type="password" class="form-control" id="url"  placeholder="Bekreft passord"  />

            </div>
        </div>



        <button (click)="postKunde()" class="btn btn-success">Send</button>
    </form>

</div>

<h1>Registrer deg som kunde</h1>
<h3>Kunder:</h3>
<ul>
    <li *ngFor="let kunde of kunder">{{kunde.firma}}</li>
</ul>
<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
