
<div style="margin-left:10px;max-width:700px;" *ngIf="showForm">
    <h1>Registreringsskjema</h1>
    <hr />
    <div style="margin-left:20px;display:inline-block;background-color:#F4F9F9;border: solid #F8FCFC;  max-width:610px; height:430px;border-radius: 5px;">
        <form [formGroup]='form'>

            <div style="padding-left: 30px;padding-top: 10px;float: left;width:300px; display:inline-block">
                <div class="form-group">
                    <label for="firma">Firma</label>
                    <input required [ngStyle]="{'border-left': form.controls.firma.valid || !form.controls.firma.touched ? '' : '3px solid red'}" class="form-control" type="text" formControlName="firma" placeholder="Firma/institusjon" />

                </div>
                <div class="form-group line-equal">
                    <label for="kontaktperson">Kontaktperson</label>
                    <input required [ngStyle]="{'border-left': form.controls.fornavn.valid || !form.controls.fornavn.touched ? '' : '3px solid red'}" type="text" class="form-control" formControlName="fornavn" placeholder="Fornavn" />
                </div>

                <div class="form-group line-equal">
                    <label for="kontaktperson"></label>
                    <input required [ngStyle]="{'border-left': form.controls.etternavn.valid || !form.controls.etternavn.touched ? '' : '3px solid red'}" type="text" class="form-control" formControlName="etternavn" placeholder="Etternavn" />
                </div>

                <div class="form-group line-equal">
                    <label for="telefon">Telefon</label>
                    <input required [ngStyle]="{'border-left': form.controls.telefon.valid || !form.controls.telefon.touched ? '' : '3px solid red'}" class="form-control" minlength="5" maxlength="11" formControlName="telefon" placeholder="Telefon" />
                </div>

                <div class="form-group line-equal">
                    <label for="telefax">Telefax</label>
                    <input required [ngStyle]="{'border-left': form.controls.telefax.valid || !form.controls.telefax.touched ? '' : '3px solid red'}" type="number" class="form-control" formControlName="telefax" placeholder="Telefax" />
                </div>

                <div class="form-group">
                    <label for="fakturaadresse">FakturaAdresse</label>
                    <input required [ngStyle]="{'border-left': form.controls.fakturaadresse.valid || !form.controls.fakturaadresse.touched ? '' : '3px solid red'}" type="text" class="form-control" formControlName="fakturaadresse" placeholder="Fakturaadresse" />
                </div>

                <div style="display:inline-block; width:84px" class="form-group">
                    <label for="postnr">Postnr</label>
                    <input required [ngStyle]="{'border-left': form.controls.postnr.valid || !form.controls.postnr.touched ? '' : '3px solid red'}" type="number" pattern="[0-9]{4}" class="form-control" formControlName="postnr" placeholder="Postnr" />
                </div>

                <div style="display:inline-block;width:150px" class="form-group">
                    <label for="poststed">Poststed</label>
                    <input required [ngStyle]="{'border-left': form.controls.poststed.valid || !form.controls.poststed.touched ? '' : '3px solid red'}" type="text" class="form-control" formControlName="poststed" placeholder="Poststed" />
                </div>
            </div>


            <div style="padding-left:30px; padding-top: 10px;width:300px; display:inline-block">

                <div class="form-group">
                    <label for="epost">Brukernavn</label>
                    <div class="inner-addon pleft">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <input required [ngStyle]="{'border-left': (form.controls.epost.valid || !form.controls.epost.touched) && !epostEksiterer ? '' : '3px solid red'}"   (ngModelChange)="responseHandler($event)" type="email" class="form-control" formControlName="epost" placeholder="Epostadresse" />
                    </div>
                    <p class="alert alert-warning" [hidden]="!epostEksiterer || !form.controls.epost.touched">
                        Det finnes allerede en bruker med gitt epost 
                    </p>
                </div>

                <div class="form-group">
                    <label for="passord">Passord</label>
                    <div class="inner-addon pleft">
                        <span class="glyphicon glyphicon-lock"></span>
                        <input required [ngStyle]="{'border-left': form.controls.passord.valid || !form.controls.passord.touched ? '' : '3px solid red'}" type="password" class="form-control"  formControlName="passord" placeholder="Passord" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="bekreftpassord">Bekreft passord</label>
                    <div class="inner-addon pleft">
                        <span class="glyphicon glyphicon-lock"></span>
                        <input required type="password" class="form-control" formControlName="bekreftpassord" placeholder="Bekreft passord" />
                    </div>
                    <p class="alert alert-warning" [hidden]="PassordMatch() || !form.controls.bekreftpassord.touched">
                        Passordet matcher ikke
                    </p>
                </div>
            </div>



        </form>
    </div>

    <div style="clear:both;">
        <div style="padding-top:5px;max-width:610px;">
            <hr />
            <div style="float:right;">
                <p><span *ngIf="ugyldigFelter" style="color:red; margin-right:15px">Ugyldig felt</span><button (click)="Valider()" class="btn btn-success btn-lg">Send skjema</button></p>
            </div>

        </div>
    </div>

    
    
</div>
  
<div *ngIf="!showForm">
    <response [underText]="underText" [response]="response" [path]="path" [responseText]="responseText"></response>
    <div *ngIf="response !== 'loading'" align="center"><h3><button (click)="tilbake()" class="btn btn-success btn-lg">Gå tilbake</button></h3></div>
</div>
