


<div>
    <div class="col-md-offset-0">

        <p style="display: inline-block;"><span class="glyphicon glyphicon-info-sign"></span> Kunde oversikt</p>
        <p style="display: inline-block;" class="text-center" *ngIf="loading">
            <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </p>

        <hr />
        <div>
            <h3 style="display: inline-block;">Liste over alle kunder </h3>

        </div>
        <br />

        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>KundeId</th>
                    <th>Firma</th>
                    <th>Kontaktperson</th>
                    <th>Telefon</th>
                    <th>E-post</th>
                </tr>
            </thead>
            <tbody *ngFor="let oppdrag of arrayOppdrag; let i = index">
                <tr>
                    <td>{{kunde.kundeId}}</td>
                    <td>{{kunde.firma}}</td>
                    <td>{{kunde.fornavn}} {{kunde.etternavn}} </td>
                    <td>{{kunde.epost}}</td>
                    <td *ngIf="i !== index || !avbryt" width="230">
                        <button style="width:85px" class="btn btn-success"><span class="glyphicon glyphicon-info-sign"></span> {{i === index && info ? "Sjul" : "Vis mer"}}</button>
                        <button style="width:85px" class="btn btn-primary"><span class="glyphicon glyphicon-share-alt"></span> Endre</button>
                        <button style="width:40px" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                    <td *ngIf="i === index && avbryt" width="205">
                        <button style="width:49%" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Slett</button>
                        <button style="width:49%" class="btn btn-default" (click)="setAvbryt(i)"><span class="glyphicon glyphicon-chevron-right"></span> Avbryt</button>
                    </td>
                </tr>
                <tr *ngIf="i === index && info">
                    <td colspan="7">
                        <table class="table table-bordered table-condensed table1">
                            <tr><th style="color:orange">Kunde siden</th><td style="color:black">{{arrayKunder[index].kundesiden}}</td></tr>
                            <tr><th style="color:darkorange">Telefax</th><td style="color:black">{{arrayKunder[index].telefax}}</td></tr>
                            <tr><th style="color:orange">Faktura-adresse</th><td style="color:black">{{arrayKunder[index].fakturaadresse}}</td></tr>
                            <tr><th style="color:darkorange">Postnr</th><td style="color:black">{{arrayKunder[index].postnr}}</td></tr>
                            <tr><th style="color:orange">Poststed</th><td style="color:black">{{arrayKunder[index].poststed}}</td></tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />
