


<div>
    <div class="col-md-offset-0">

        <p style="display: inline-block;"><span class="glyphicon glyphicon-info-sign"></span> Alle registrerte kunder</p>
        <p style="display: inline-block;" class="text-center" *ngIf="loading">
            <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </p>

        <hr />
        <div>
            <h1 style="display: inline-block;">Kundeoversikt </h1>

        </div>
        <br />

        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Firma</th>
                    <th>Kontakt-person</th>
                    <th>Telefon</th>
                    <th>Telefax</th>
                    <th>Fakturaadresse</th>
                    <th>Brukernavn</th>
                </tr>
            </thead>
            <tbody *ngFor="let kunde of arrayKunder; let i = index">
                <tr>
                    <td>{{kunde.firma}}</td>
                    <td>{{kunde.fornavn}} {{kunde.etternavn}}</td>
                    <td>{{kunde.telefon}}</td>
                    <td>{{kunde.telefax}}</td>
                    <td>{{kunde.fakturaadresse}} {{kunde.postnr}} {{kunde.poststed}}</td>
                    <td>{{kunde.epost}}</td>
                    <td style="width:40px;" *ngIf="!setTilSlettErTrykket(i)" >
                        <button [ngClass]="{'fl': slett }" style="width:40px" class="btn btn-default" (click)="setTilSlett(i)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                    <td *ngIf="setTilSlettErTrykket(i)" width="190">
                        <button (click)="slettKunde(i, kunde.persId)" style="width:49%" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Slett</button>
                        <button style="width:49%" class="btn btn-default" (click)="setDefault()"><span class="glyphicon glyphicon-chevron-right"></span> Avbryt</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br />
