
<div>
    <p><span class="glyphicon glyphicon-info-sign"></span> Liste med alle kunder</p>
    <hr />
    <br />

    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Firma</th>
                <th>TLF</th>
            </tr>
        </thead>
        <tbody *ngFor="let kunde of arrayKunder; let i = index">
            <tr>
                <td>{{kunde.firma}}</td>
                <td>{{kunde.tlf}}</td>
                <td width="190">
                    <button class="btn btn-danger">Slett</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
