


<div>
    <div class="col-md-offset-0">

        <p style="display: inline-block;"><span class="glyphicon glyphicon-info-sign"></span> Informasjon om ansatte</p>
        <loading *ngIf="loading"></loading>

        <hr />
        <div *ngIf="checkIfArrayIsEmthy(arrayTolk)">
            <div>
                <h1 style="display: inline-block;"> Alle Tolker</h1>

            </div>
            <br />

            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>AnsattNr</th>
                        <th>Navn</th>
                        <th>Telefon</th>
                        <th>Epost</th>
                        <th>Adresse</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of arrayTolk; let i = index">
                    <tr>
                        <td>{{item.persId}}</td>
                        <td>{{item.fornavn}} {{item.etternavn}}</td>
                        <td>{{item.telefon}}</td>
                        <td>{{item.epost}}</td>
                        <td>{{item.adresse}} {{item.postnr}} {{item.poststed}}</td>
                        <td width="100">
                            <button style="width:100%" class="btn btn-success" (click)="btnInfoClick(i,0)"><span class="glyphicon glyphicon-info-sign"></span> {{VisInfo(i, 0) ? "Sjul" : "Vis mer"}}</button>
                        </td>
                    </tr>
                    <tr *ngIf="VisInfo(i, 0)">
                        <td style="background-color:white" colspan="7">
                            <div>
                                <div style="width:180px;display:inline-block; margin:10px">
                                    <table class="table table-bordered table-condensed ">
                                        <thead>
                                            <tr>
                                                <th style="color:#005200;"><b>Språk</b></th>
                                                <th style="width:50px">Nivå</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let item of arrayTolk[i].spraak; let i = index">
                                            <tr>
                                                <td>{{item.navn}}</td>
                                                <td>{{item.spraakId}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div *ngIf="arrayTolk[i].utilgjengelig[0]" style="width:200px;vertical-align:top;display:inline-block; margin:10px">
                                    <table class="table table-bordered table-condensed ">
                                        <thead>
                                            <tr><th  colspan="2" style="color:#005200;"><b>Utilgjengelig</b></th></tr>
                                            <tr>
                                                
                                                <th>Fra Dato</th>
                                                <th>Til Dato</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let item of arrayTolk[i].utilgjengelig; let i = index">
                                            <tr>
                                                <td>{{item.fraDato}}</td>
                                                <td>{{item.tilDato}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            
                            <div  style="clear:both"></div>
                            <button style="margin:10px;margin-left:5px;clear:both" class="btn btn-primary" ><span class="glyphicon glyphicon-edit"></span> Endre</button>
                            
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <h3 style="color:forestgreen" *ngIf="!loading && !checkIfArrayIsEmthy(arrayTolk)">Ingen nye oppdrag</h3>



    </div>
</div>