<div *ngIf="showForm">
    <h1>Bestill oversettelse</h1>
    <hr />
    <form [formGroup]='form'>

        
        <div class="form-group">
            <label for="frasprak">Velg fil</label>
            <div class="inner-addon left-addon">
                <input class="form-control" type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx,.txt">
            </div>
        </div>


        <div class="form-group">
            <label for="typetolk">Type Dokument</label>
            <div class="inner-addon left-addon">
                <select formControlName="typedokument" class="form-control">
                    <option>Vitnemål</option>
                    <option>Attester</option>
                    <option>Juridiske dokumenter</option>
                    <option>Medisinske dokumenter</option>
                    <option>Språkvask/Korrektur</option>
                    <option>Andre</option>
                </select>


            </div>
        </div>

        <div class="form-group">
            <label for="frasprak">Fra Språk</label>
            <div class="inner-addon left-addon">
                <input type="text" name="fraspraak" class="form-control" id="fraspraakid" />
            </div>
        </div>

        <div class="form-group">
            <label for="tilsprak">Til Språk</label>
            <div class="inner-addon left-addon">
                <input type="text" name="fraspraak" class="form-control" id="tilspraakid" />
            </div>
        </div>

        <div class="form-group">
            <label for="ferdiggjoresdato">Ferdiggjøresdato</label>
            <div class="inner-addon left-addon">
                <input type="text" name="ferdiggjoresdato" class="form-control" id="ferdiggjoresdatoid" />
            </div>
        </div>

        <div class="form-group">
            <label for="andreopplysninger">Andre opplysninger</label>
            <div class="inner-addon left-addon">
                <textarea style="height: 100px" class="form-control" id="andreopplysningerid"
                          autocomplete="off" placeholder="Andre opplysninger"></textarea>
            </div>
        </div>

        <button (click)="postOppdrag()" type="submit" class="btn btn-success">Send bestilling</button>
    </form>
</div>

<div *ngIf="loading">
    <div>
        <p style="display:inline-block">Vennligst vent . .</p><loading style="display:inline-block"></loading>
    </div>
</div>

<div *ngIf="!Success && !showForm && !loading">
    <p class="error">Ooops, bestillingen ble ikke sendt!</p>
    <button (click)="tilbake()" class="btn btn-success">Gå tilbake</button>
</div>

<div *ngIf="Success && !showForm  && !loading">
    <h3 style="color:forestgreen">Bestillingen er sendt! </h3>
    <p>Vi vil behandle din søknad så fort som mulig</p>

</div>
