<div>
    <h1>Endre passord</h1>
    <hr />
    <form [formGroup]='form'>

        <div class="form-group">
            <label for="gammeltpassord">Gammelt passord</label>
            <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-lock"></span>
                <input type="password" class="form-control" id="gammeltpassordid" formControlName="gammeltpassord" placeholder="Gammeltpassord" />
            </div>
        </div>
        <div class="form-group">
            <label for="nyttpassord">Nytt passord</label>
            <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-lock"></span>
                <input type="password" class="form-control" id="nyttpassordid" formControlName="nyttpassord" placeholder="Nyttpassord" />
            </div>
        </div>
        <div class="form-group">
            <label for="bekreftpassord">Bekreft passord</label>
            <div class="inner-addon left-addon">
                <span class="glyphicon glyphicon-lock"></span>
                <input type="password" class="form-control" id="bekreftpassordid" placeholder="Bekreft passord" />
            </div>
        </div>

        <button (click)="postKunde()" class="btn btn-success">Lagre</button>
    </form>
</div>