<nav class="navbar navbar-default">
    <div class="container body-content">
    <div class="container-fluid">

        <div class="navbar-header">
            <a routerLink="/home" routerLinkActive="active" class="navbar-brand" href="/home">Tolkesentralen</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a routerLink="./bestill-tolk" routerLinkActive="active">Bestill Tolk</a></li>
            <li><a routerLink="./bestill-oversettelse" routerLinkActive="active">Bestill Oversettelse</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" routerLink="./list-bestillinger" routerLinkActive="active">
                    Mine Bestillinger
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/info-om-oss" routerLinkActive="active">Historikk</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav "></ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/not-found" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logg ut</a></li>
        </ul>
    </div>
    </div>
</nav>

<div class="container body-content">
<router-outlet ></router-outlet>
</div>