<div>
    <h3>Bestill oversettelse</h3>
    <hr />
    <form [formGroup]='form'>


        <div class="form-group">
            <label for="typetolk">Type Dokument</label>
            <div class="inner-addon left-addon">
                <select formControlName="typedokument" class="form-control">
                    <option>Vitnemål</option>
                    <option>Attester</option>
                    <option>Juridiske dokumenter</option>
                    <option>Medisinske dokumenter</option>
                    <option>Språkvask/Korrektur</option>
                    <option>Andre</option>
                </select>


            </div>
        </div>

        <div class="form-group">
            <label for="frasprak">Fra Språk</label>
            <div class="inner-addon left-addon">
                <input type="text" name="fraspraak" class="form-control" id="fraspraakid" />
            </div>
        </div>

        <div class="form-group">
            <label for="tilsprak">Til Språk</label>
            <div class="inner-addon left-addon">
                <input type="text" name="fraspraak" class="form-control" id="tilspraakid" />
            </div>
        </div>

        <div class="form-group">
            <label for="ferdiggjoresdato">Ferdiggjøresdato</label>
            <div class="inner-addon left-addon">
                <input type="text" name="ferdiggjoresdato" class="form-control" id="ferdiggjoresdatoid" />
            </div>
        </div>

        <div class="form-group">
            <label for="andreopplysninger">Andre opplysninger</label>
            <div class="inner-addon left-addon">
                <textarea style="height: 100px" class="form-control" id="andreopplysningerid"
                          autocomplete="off" placeholder="Andre opplysninger"></textarea>
            </div>
        </div>

        <button (click)="postOppdrag()" type="submit" class="btn btn-success">Send bestilling</button>
    </form>
</div>
