<h1>Bestilte tolke-oppdrag</h1>
<hr />

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>OppdragsNr</th>
            <th>Tolk Navn</th>
            <th>Type tolk</th>
            <th>Fra språk</th>
            <th>Til språk</th>
            <th>Dato</th>
            <th>Tid</th>
            <th>Oppmøtested</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let oppdrag of oppdrag; let i = index">
        <tr>
            <td>#{{oppdrag.oppdragID}}</td>
            <td>Ingen tildelt</td>
            <td>{{oppdrag.typetolk}}</td>
            <td><img style="height:14px;margin-bottom:2px" onError="this.src='../../bilder/white.gif';" src="../../bilder/{{Spraak[oppdrag.fraspraak-1].spraak}}.gif"> {{Spraak[oppdrag.fraspraak-1].spraak}}</td>
            <td><img style="height:14px;margin-bottom:2px" onError="this.src='../../bilder/white.gif';" src="../../bilder/{{Spraak[oppdrag.tilspraak-1].spraak}}.gif"> {{Spraak[oppdrag.tilspraak-1].spraak}}</td>
            <td>{{fix(oppdrag.fratidspunkt) | date: 'dd-MM-yyyy'}}</td>
            <td>{{fix(oppdrag.fratidspunkt) | date: 'HH:mm'}} <span style="color: lightgray" class="glyphicon glyphicon-arrow-right"></span> {{fix(oppdrag.tiltidspunkt) | date: 'HH:mm'}}</td>
            <td>{{oppdrag.oppmoteadresse}} {{PoststedStreng(oppdrag.oppmotepostnr,oppdrag.oppmotepoststed)}}</td>
            <td><button>Avbestill</button> <button>Endre</button></td>
        </tr>
    </tbody>
</table>




