<div *ngIf="showForm">
    <h3>BESTILL TOLK</h3>
    <hr />
    <form [formGroup]='form'>


        <div class="form-group">
            <label for="typetolk">Type Tolk</label>
            <div class="inner-addon left-addon">
                <select formControlName="typetolk" class="form-control">
                    <option>Fremmøtetolk</option>
                    <option>Telefontolk</option>
                    <option>Videotolk</option>
                    <option>Konferansetolk</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="fraspraak">Fra Språk</label>
            <div class="inner-addon left-addon">
                <select formControlName="fraspraak" class="form-control">
                    <option>Aceh                </option>
                    <option>Acholi              </option>
                    <option>Afaan               </option>
                    <option>Afar                </option>
                    <option>Afrikaans           </option>
                    <option>Afrikansk engelsk   </option>
                    <option>Agni                </option>
                    <option>Akan                </option>
                    <option>Akuapem             </option>
                    <option>Albansk             </option>
                    <option>Amharisk            </option>
                    <option>Arabisk             </option>
                    <option>Arabisk Marokko     </option>
                    <option>Arabisk Sodan       </option>
                    <option>Armensk             </option>
                    <option>Asante              </option>
                    <option>Aserbadjansk        </option>
                    <option>Assyrisk kldani     </option>
                    <option>Asyrisk ashori      </option>
                    <option>Azari               </option>
                    <option>Baluchi             </option>
                    <option>Bambara             </option>
                    <option>Baoule              </option>
                    <option>Bengali             </option>
                    <option>Berbisk             </option>
                    <option>Bilin               </option>
                    <option>Bisaya              </option>
                    <option>Bosnisk             </option>
                    <option>Bulgarsk            </option>
                    <option>Burmesisk           </option>
                    <option>Cebuano             </option>
                    <option>Chin                </option>
                    <option>Chin haka           </option>
                    <option>Chin matu           </option>
                    <option>Dansk               </option>
                    <option>Dari                </option>
                    <option>Dinka (Sør Sudan)   </option>
                    <option>Diola               </option>
                    <option>Edo                 </option>
                    <option>Engelsk             </option>
                    <option>Estisk              </option>
                    <option>Ewe                 </option>
                    <option>Fanti               </option>
                    <option>Farsi               </option>
                    <option>Filippinsk          </option>
                    <option>Finsk               </option>
                    <option>Flamsk              </option>
                    <option>Fransk              </option>
                    <option>Fulah               </option>
                    <option>Færøysk             </option>
                    <option>Ga (chi Ghana)      </option>
                    <option>Georgisk            </option>
                    <option>Gresk               </option>
                    <option>Grønlansk           </option>
                    <option>Gujarati            </option>
                    <option>Gælisk              </option>
                    <option>Hausa               </option>
                    <option>Hazaragi            </option>
                    <option>Hebraisk            </option>
                    <option>Hindi               </option>
                    <option>Ibo                 </option>
                    <option>Indonesisk          </option>
                    <option>Ingusjisk           </option>
                    <option>Islandsk            </option>
                    <option>Italiensk           </option>
                    <option>Japansk             </option>
                    <option>Jola                </option>
                    <option>Kantonesisk         </option>
                    <option>Karen               </option>
                    <option>Kashmiri            </option>
                    <option>katalansk           </option>
                    <option>Kazakhisk           </option>
                    <option>Khmer               </option>
                    <option>Kikuyu              </option>
                    <option>Kinesisk            </option>
                    <option>Kinyarwanda         </option>
                    <option>Kirundi (Burundi)   </option>
                    <option>Koreansk            </option>
                    <option>Krio(Creol-engelsk) </option>
                    <option>Krio(Creol-Fransk)  </option>
                    <option>Krio      (Creol)   </option>
                    <option>Kroatisk            </option>
                    <option>Kurdisk-Badini      </option>
                    <option>Kurdisk-Kurmanji    </option>
                    <option>Kurdisk-Sorani      </option>
                    <option>Lagos               </option>
                    <option>Langi               </option>
                    <option>Lango               </option>
                    <option>Lao                 </option>
                    <option>Latin               </option>
                    <option>Latvisk             </option>
                    <option>Lingala             </option>
                    <option>Litauisk            </option>
                    <option>Luganda             </option>
                    <option>Luo                 </option>
                    <option>Lusoga              </option>
                    <option>Lutoro/Nyoro        </option>
                    <option>Luxemburgsk         </option>
                    <option>Makedonsk           </option>
                    <option>Malay               </option>
                    <option>Mandarin            </option>
                    <option>Mandingo/mandinka   </option>
                    <option>Marathi             </option>
                    <option>Moldovsk            </option>
                    <option>Mongolsk            </option>
                    <option>Nederlandsk         </option>
                    <option>Nepali              </option>
                    <option>Nigeriansk          </option>
                    <option>Norsk               </option>
                    <option>Nubisk              </option>
                    <option>Oromo               </option>
                    <option>Pashto              </option>
                    <option>Persisk             </option>
                    <option>Pidgin              </option>
                    <option>Polsk               </option>
                    <option>Portugisisk         </option>
                    <option>Punjabi             </option>
                    <option>Romanes             </option>
                    <option>Ruhingla            </option>
                    <option>Rumensk             </option>
                    <option>Russisk             </option>
                    <option>Rwandisk            </option>
                    <option>Samisk              </option>
                    <option>Samisk - lule       </option>
                    <option>Samisk - nord       </option>
                    <option>Serbisk             </option>
                    <option>Singalesisk         </option>
                    <option>Slovakisk           </option>
                    <option>Slovensk            </option>
                    <option>Somali              </option>
                    <option>Soninke/Serahuli    </option>
                    <option>Spansk              </option>
                    <option>Susu                </option>
                    <option>Svensk              </option>
                    <option>Swahili             </option>
                    <option>Tadzhik             </option>
                    <option>Tagalog             </option>
                    <option>Tamil               </option>
                    <option>Tchiluba            </option>
                    <option>Tegnspråk Norsk     </option>
                    <option>Temene              </option>
                    <option>Thai                </option>
                    <option>Tibetansk           </option>
                    <option>Tigre               </option>
                    <option>Tigrinja            </option>
                    <option>Tsjekkisk           </option>
                    <option>Tsjetsjensk         </option>
                    <option>Turkmensk           </option>
                    <option>Twi                 </option>
                    <option>Tyrkisk             </option>
                    <option>Tysk                </option>
                    <option>Uigurisk            </option>
                    <option>Ukrainsk            </option>
                    <option>Ungarsk             </option>
                    <option>Urdu                </option>
                    <option>Uzbekisk            </option>
                    <option>Vietnamesisk        </option>
                    <option>Visayan             </option>
                    <option>Wolof               </option>
                    <option>Xibo                </option>
                    <option>Yoruba              </option>
                    <option>Zulu                </option>
                </select>

            </div>
        </div>

        <div class="form-group">
            <label for="tilsprak">Til Språk</label>
            <div class="inner-addon left-addon">
                <input type="text" class="form-control" id="tilsprakid" formControlName="tilspraak" autocomplete="off" placeholder="Til Språk" />
            </div>
        </div>

        <div class="form-group">
            <label for="oppdragsdato">Oppdragsdato</label>
            <div class="inner-addon left-addon">
                <input type="date" class="form-control" id="oppdragsdatoid" FormControlName="oppdragsdato" autocomplete="off" placeholder="Oppdragsdato" />
            </div>
        </div>

        <div class="form-group">
            <label for="frakl">Fra kl</label>
            <div class="inner-addon left-addon">
                <input type="time" min="00:00" max="23:59" class="form-control" id="fraklid" formControlName="frakl" autocomplete="off" placeholder="Fra kl" />
            </div>
        </div>

        <div class="form-group">
            <label for="tilkl">Til kl</label>
            <div class="inner-addon left-addon">
                <input type="time" min="00:00" max="23:59" class="form-control" id="tilklid" formControlName="tilkl" autocomplete="off" placeholder="Til kl" />
            </div>
        </div>

        <div class="form-group">
            <label for="oppmotested">Oppmøtested</label>
            <div class="inner-addon left-addon">
                <input type="text" class="form-control" id="oppmotestedid" formControlName="oppmotested" autocomplete="off" placeholder="Oppmøtested" />

            </div>
        </div>

        <div class="form-group">
            <label for="andreopplysninger">Andre opplysninger</label>
            <div class="inner-addon left-addon">
                <textarea ng-model="andreopplysninger" style="height: 100px" class="form-control" id="andreopplysningerid"
                          formControlName="andreopplysninger" autocomplete="off" placeholder="Andre opplysninger"></textarea>
            </div>
        </div>

        <button (click)="postOppdrag()" type="submit" class="btn btn-success" [disabled]="!form.valid">Send bestilling</button>
    </form>
</div>

<div *ngIf="loading">
    <div>
        <p style="display:inline-block">Vennligst vent . .</p><loading style="display:inline-block"></loading>
    </div>


</div>

<div *ngIf="!Success && !showForm && !loading">
    <p class="error" >Ooops, bestillingen ble ikke sendt!</p>
    <button (click)="tilbake()" class="btn btn-success">Gå tilbake</button>
</div>

<div *ngIf="Success && !showForm  && !loading">
    <h3 style="color:forestgreen">Bestillingen er sendt! </h3>
    <p>Vi vil behandle din søknad så fort som mulig</p>

</div>