<div *ngIf="showForm"> 
    <h1>Bestill Tolk</h1>
    <hr />
    <div  style="min-height:360px;max-width:910px;background-color:#F4F9F9;">
        <div style="margin-top:35px;display:inline-block;width:300px;">
            <div style="background-color:white;width:260px; height:270px">
                <img style="width:150px;border-bottom: solid #1F1F1F;margin-left:20px; margin-top:5px" src="../../bilder/hot_operator.jpg">
            </div>
            
            
        </div>
        

        <div style="float:right;display:inline-block;border: solid #F8FCFC;  max-width:610px; min-height:360px;border-radius: 5px;">
            

                <div style="padding-top: 10px;width:300px; display:inline-block">
                    <form [formGroup]='form'>
                        <div class="form-group">
                            <label for="typetolk">Type Tolk</label>
                            <div class="inner-addon left-addon">
                                <select (change)="onchange($event.target.value)" class="form-control">
                                    <option value="0" selected>Fremmøtetolk</option>
                                    <option value="1">Telefontolk</option>
                                    <option value="2">Videotolk</option>
                                    <option value="3">Konferansetolk</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group line-equal">
                            <label for="fraspraak">Fra Språk</label>
                            <select [ngStyle]="{'border-left': validerSpraak ? '' : '3px solid red'}" (change)="setFraSpraak($event.target.value)" class="form-control">
                                <option [value]="item.id" [selected]="i == 41" *ngFor="let item of spraak; let i = index">{{item.spraak}}</option>
                            </select>
                        </div>

                        <div class="form-group line-equal">
                            <label for="tilspraak">Til Språk</label>
                            <select [ngStyle]="{'border-left': validerSpraak ? '' : '3px solid red'}" (change)="setTilSpraak($event.target.value)" class="form-control">
                                <option [value]="item.id" [selected]="i == 92" *ngFor="let item of spraak; let i = index">{{item.spraak}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="oppdragsdato">Oppdragsdato</label>
                            <div class="inner-addon">
                                <input min="{{minDate}}" [ngModelOptions]="{standalone: true}" [ngModel]="startDate" (ngModelChange)="startDate = $event" type="date" class="form-control" />
                                <!--<span class="glyphicon glyphicon-calendar"></span>-->
                            </div>
                        </div>

                        <div class="form-group line-equal">
                            <label for="frakl">Fra kl</label>
                            <div class="inner-addon left-addon">
                                <input type="time" class="form-control" formControlName="frakl" />
                            </div>
                        </div>

                        <div class="form-group line-equal">
                            <label for="tilkl">Til kl</label>
                            <div class="inner-addon left-addon">
                                <input type="time" class="form-control" formControlName="tilkl" />
                            </div>
                        </div>
                        
                    </form>
                </div>



                <div style="vertical-align:top;padding-left:20px; padding-top: 10px;width:280px; display:inline-block">
                    
                    <div *ngIf="adresseFelt">
                        <form [formGroup]='form2'>
                            <div class="form-group">
                                <label for="oppmotested">OppmøteAdresse</label>
                                    <input required [ngStyle]="{'border-left': form2.controls.oppmoteadresse.valid || !form2.controls.oppmoteadresse.touched ? '' : '3px solid red'}" type="text" class="form-control" formControlName="oppmoteadresse"  placeholder="Oppmøtested" />
                            </div>
                            <div style="display:inline-block; width:84px" class="form-group">
                                <label for="postnr">Postnr</label>
                                    <input required [ngStyle]="{'border-left': form2.controls.oppmotepostnr.valid || !form2.controls.oppmotepostnr.touched ? '' : '3px solid red'}" type="number" pattern=".{4,4}" class="form-control" formControlName="oppmotepostnr" placeholder="Postnr" />
                            </div>
                            <div style="display:inline-block;width:150px" class="form-group">
                                <label for="poststed">Poststed</label>
                                    <input required [ngStyle]="{'border-left': form2.controls.oppmotepoststed.valid || !form2.controls.oppmotepoststed.touched ? '' : '3px solid red'}" type="text" class="form-control" formControlName="oppmotepoststed" placeholder="oppmotepoststed" />
                            </div>
                        </form>
                    </div>
                    <form [formGroup]='form'>
                        <div class="form-group">
                            <label for="andreopplysninger">Andre opplysninger</label>
                            <div class="inner-addon left-addon">
                                <textarea ng-model="andreopplysninger" style="height: 120px" class="form-control" id="andreopplysningerid"
                                          formControlName="andreopplysninger" autocomplete="off" placeholder="Andre opplysninger"></textarea>
                            </div>
                        </div>
                    </form>
                    
            </div>
   
        </div>
        
    </div>

    <div style="clear:both;max-width:910px;">
        <hr />
        <div style="float:right;padding-top:10px">
            <p><span *ngIf="ugyldigFelter" style="color:red; margin-right:15px">Ugyldig felt</span><button (click)="postKunde()" class="btn btn-success btn-lg">Send bestilling</button></p>

        </div>
    </div>

</div>




<div *ngIf="!showForm">
    <response [underText]="underText" [response]="response" [path]="path" [responseText]="responseText"></response>
    <div *ngIf="response !== 'loading' && response !== 'success'" align="center"><h3><button (click)="tilbake()" class="btn btn-success btn-lg">Gå tilbake</button></h3></div>
    <div *ngIf="response === 'success'" align="center"><h3><button (click)="tilBestilling()" class="btn btn-success btn-lg">Trykk her</button></h3></div>
</div>
