<div>
    <h3>Endre Opplysninger</h3>
    <hr />
    <form [formGroup]='form'>
        <div class="form-group">
            <label for="firma">Firma</label>
            <div class="inner-addon left-addon">
                <input type="text" class="form-control" id="firmaid" formControlName="firma" placeholder="Firma/institusjon" />
            </div>
        </div>
        <div class="form-group">
            <label for="kontaktperson">Kontaktperson</label>
            <div class="inner-addon left-addon">
                <input type="text" id="fornavnid" class="form-control" formControlName="fornavn" placeholder="Fornavn" />
            </div>

        </div>
        <div class="form-group">
            <div class="inner-addon left-addon">
                <input type="text" id="etternavnid" class="form-control" formControlName="etternavn" placeholder="Etternavn" />
            </div>
        </div>
        <div class="form-group">
            <label for="telefon">Telefon</label>
            <div class="inner-addon left-addon">
                <input type="text" id="telefonid" class="form-control" minlength="5" maxlength="8" name="telefon" formControlName="telefon" placeholder="Telefon" />
            </div>
        </div>
        <div class="form-group">
            <label for="telefax">Telefax</label>
            <div class="inner-addon left-addon">
                <input type="text" class="form-control" id="url" formControlName="telefax" placeholder="Telefax" />
            </div>
        </div>
        <div class="form-group">
            <label for="fakturaadresse">FakturaAdresse</label>
            <div class="inner-addon left-addon">
                <input type="text" class="form-control" id="url" formControlName="fakturaadresse" placeholder="Fakturaadresse" />
            </div>
        </div>
        <div class="form-group">
            <label for="postnr">Postnr</label>
            <div class="inner-addon left-addon">
                <input type="text" class="form-control" id="url" formControlName="postnr" placeholder="Postnr" />
            </div>
        </div>
        <div class="form-group">
            <label for="poststed">Poststed</label>
            <div class="inner-addon left-addon">
                <input type="text" class="form-control" id="url" formControlName="poststed" placeholder="Poststed" />
            </div>
        </div>
        <div class="form-group">
            <label for="epost">Epost</label>
            <div class="inner-addon left-addon">
                <input type="text" class="form-control" id="url" formControlName="epost" placeholder="Epostadresse" />
            </div>
        </div>

        <button (click)="postKunde()" class="btn btn-success">Lagre</button>
    </form>
</div>

