<h3>Mine bestilte tolke-oppdrag</h3>

<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Type</th>
            <th>Fra språk</th>
            <th>Til språk</th>
            <th>Dato</th>
            <th>Klokka</th>
            <th>Sted</th>
        </tr>
    </thead>
    <tbody *ngFor="let oppdrag of oppdrag; let i = index">
        <tr>
            <td>{{oppdrag.typetolk}}</td>
            <td>{{oppdrag.fraspraak}}</td>
            <td>{{oppdrag.tilspraak}}</td>
            <td>{{oppdrag.oppdragsdato}}</td>
            <td>{{oppdrag.frakl}} - {{oppdrag.frakl}}</td>
        </tr>
    </tbody>
</table>

<h3>Mine bestilte Oversettelser</h3>
