/* align icon */


.form-group{
    width: 235px;
    
}
.form-control{
    border-left: 5px solid ;
}

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;

}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  10px; }
.right-addon input { padding-right: 10px; }

.pleft input{
    padding-left:  30px;
}