<p style="display: inline-block;"><span class="glyphicon glyphicon-info-sign"></span> Kunde-forespørsler som venter behandling</p>
<loading *ngIf="loading"></loading>
<hr />


<div *ngIf="checkIfArrayIsEmthy(arrayNyeKunder)">
    <br />
    
    <table class="table table-bordered table-condensed">

        <thead>
            <tr>
                <th>Firma</th>
                <th>Kontaktperson</th>
                <th>Telefon</th>
                <th>Telefax</th>
                <th>Faktura-adresse</th>
                <th>Poststed</th>
                <th>Brukernavn</th>
            </tr>
        </thead>

        <tbody *ngFor="let kunde of arrayNyeKunder; let i = index">
            <tr>
                <td>{{kunde.firma}}</td>
                <td>{{kunde.fornavn}} {{kunde.etternavn}}</td>
                <td>{{kunde.telefon}}</td>
                <td>{{kunde.telefax}}</td>
                <td>{{kunde.fakturaadresse}}</td>
                <td>{{kunde.postnr}} {{kunde.poststed}}</td>
                <td>{{kunde.email}}</td>
                <td *ngIf="!setTilSlettErTrykket(i)" width="230">
                    <button style="width:38%" class="btn btn-default" (click)="setTilSlett(i)"><span class="glyphicon glyphicon-thumbs-down"></span> Fjern</button>
                    <button class="btn btn-primary" (click)="godkjennKunde(i, kunde.persId)"><span class="glyphicon glyphicon-thumbs-up"></span> Legg til kunde</button>
                </td>
                <td *ngIf="setTilSlettErTrykket(i)" width="230">
                    <button style="width:45%" class="btn btn-default" (click)="setDefault()"><span class="glyphicon glyphicon-chevron-right"></span> Avbryt</button>
                    <button (click)="slettKunde(i, kunde.persId)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Slett kunde</button>
                    
                </td>
            </tr>
        </tbody>
    </table>
    

</div>

<h1 style="color:forestgreen" *ngIf="!loading && !checkIfArrayIsEmthy(arrayNyeKunder)">Ingen nye kunder</h1>