
<div>
<p><span class="glyphicon glyphicon-info-sign"></span> Kunde-forespørsler som venter behandling</p>
    <hr />
    <br />
    
    <table class="table table-bordered table-condensed">

        <thead>
            <tr>
                <th>Firma</th>
                <th>Kontakt-person</th>
                <th>Telefon</th>
                <th>Telefax</th>
                <th>Faktura-adresse</th>
                <th>Poststed</th>
                <th>Brukernavn</th>
            </tr>
        </thead>

        <tbody *ngFor="let kunde of arrayNyeKunder; let i = index">
            <tr>
                <td>{{kunde.firma}}</td>
                <td>{{kunde.fornavn}} {{kunde.etternavn}}</td>
                <td>{{kunde.tlf}}</td>
                <td>{{kunde.telefax}}</td>
                <td>{{kunde.fakturaadresse}}</td>
                <td>{{kunde.postnr}} {{kunde.poststed}}</td>
                <td>{{kunde.email}}</td>
                <td *ngIf="!setTilSlettErTrykket(i)" width="190">
                    <button  class="btn btn-primary" (click)="godkjennKunde(i, kunde.persId)"><span class="glyphicon glyphicon-thumbs-up"></span> Legg til kunde</button>
                    <button style="width:40px" class="btn btn-default" (click)="setTilSlett(i)"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
                <td *ngIf="setTilSlettErTrykket(i)" width="190">
                    <button (click)="slettKunde(i, kunde.persId)" style="width:49%" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Slett</button>
                    <button style="width:49%" class="btn btn-default" (click)="setDefault()"><span class="glyphicon glyphicon-chevron-right"></span> Avbryt</button>
                </td>
            </tr>
        </tbody>
    </table>
    

</div>