<p style="float:right"><span style="color:forestgreen">Innlogget : </span> {{bruker != null ? bruker.brukernavn : ""}}</p>
<div >
    <div class="col-md-offset-0" >
        
        <p style="display: inline-block;"><span class="glyphicon glyphicon-info-sign"></span> Forespørsler som venter behandling</p>

        <loading *ngIf="loading"></loading>
       
        <hr />

        <div *ngIf="checkIfArrayIsEmthy(arrayOppdrag)">
            <div>
                <h1 style="display: inline-block;"> Nye Oppdrag</h1>

            </div>
            <br />

            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Mottatt</th>
                        <th>Type</th>
                        <th>Fra Språk</th>
                        <th>Til Språk</th>
                        <th>Dato</th>
                        <th>Tid</th>
                        <th>Oppmøtested</th>
                    </tr>
                </thead>
                <tbody  *ngFor="let oppdrag of arrayOppdrag; let i = index">
                    <tr>
                        <td>{{oppdrag.dato}}</td>
                        <td>{{oppdrag.typetolk}}</td>
                        <td><img style="height:14px;margin-bottom:2px" onError="this.src='../../bilder/white.gif';" src="../../bilder/{{arraySpraak[oppdrag.fraspraak-1].spraak}}.gif"> {{arraySpraak[oppdrag.fraspraak-1].spraak}}</td>
                        <td><img style="height:14px;margin-bottom:2px" onError="this.src='../../bilder/white.gif';" src="../../bilder/{{arraySpraak[oppdrag.tilspraak-1].spraak}}.gif"> {{arraySpraak[oppdrag.tilspraak-1].spraak}}</td>
                        <td>{{fix(oppdrag.fratidspunkt) | date: 'dd-MM-yyyy'}}</td>
                        <td>{{fix(oppdrag.fratidspunkt) | date: 'HH:mm'}} <span style="color: lightgray" class="glyphicon glyphicon-arrow-right"></span> {{fix(oppdrag.tiltidspunkt) | date: 'HH:mm'}}</td>
                        <td>{{oppdrag.oppmoteadresse}} - {{oppdrag.oppmotepostnr}} - {{oppdrag.oppmotepoststed}}</td>
                        <td width="185">
                            <button style="width:49%" class="btn btn-success" (click)="btnInfoClick(i,0)"><span class="glyphicon glyphicon-info-sign"></span> {{VisInfo(i, 0) ? "Sjul" : "Vis mer"}}</button>
                            <button style="width:49%" class="btn btn-primary" (click)="onUtdel(oppdrag)"><span class="glyphicon glyphicon-share-alt"></span> Utdel</button>
                        </td>
                    </tr>
                    <tr *ngIf="VisInfo(i, 0)">
                        <td colspan="8">
                            <table style="margin-bottom:0" class="table table-bordered table-condensed table1">
                                <tr><th style="width:140px">Kontaktperson</th><td style="color:black">{{arrayOppdrag[index].fornavn}} {{arrayOppdrag[index].etternavn}}</td></tr>
                                <tr><th>Firma</th><td style="color:black">{{arrayOppdrag[index].firma}}</td></tr>
                                <tr><th>Telefon</th><td style="color:black">{{arrayOppdrag[index].telefon}}</td></tr>
                                <tr><th>Epost</th><td style="color:black">{{arrayOppdrag[index].epost}}</td></tr>
                                <tr>
                                    <th>Melding</th>
                                    <td>{{arrayOppdrag[index].andreopplysninger}}</td>
                                </tr>
                            </table>
                            <button *ngIf="!slettErTrykket" style="margin:10px;margin-left:5px" class="btn btn-danger" (click)="btnTilSlettClick()"><span class="glyphicon glyphicon-trash"></span> Slett?</button>
                            <p  style="width:220px;margin:10px;margin-left:5px" *ngIf="slettErTrykket && nr == 0">
                                <button style="width:38%" class="btn btn-default" (click)="btnAvbrytTilSlettClick()"><span class="glyphicon glyphicon-chevron-right"></span> Avbryt</button>
                                <button style="width:60%" class="btn btn-danger" (click)="slettOppdrag(oppdrag.persId, i)"><span class="glyphicon glyphicon-trash"></span> Slett for godt</button>
                            </p>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>

        

        <h3 style="color:forestgreen" *ngIf="!loading && !checkIfArrayIsEmthy(arrayOppdrag)">Ingen nye oppdrag</h3>









        <div *ngIf="checkIfArrayIsEmthy(arrayOppdragSendt)">
            <br />
            <hr />
            <div>
                
                <h1 style="display: inline-block;"> Utdelte Oppdrag </h1>


            </div>
            <br />

            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Mottatt</th>
                        <th>Type</th>
                        <th>Fra Språk</th>
                        <th>Til Språk</th>
                        <th>Dato</th>
                        <th>Tid</th>
                        <th>Oppmøtested</th>
                    </tr>
                </thead>
                <tbody *ngFor="let oppdrag of arrayOppdragSendt; let i = index">
                    <tr>
                        <td>{{oppdrag.dato}}</td>
                        <td>{{oppdrag.typetolk}}</td>
                        <td><img style="height:14px;margin-bottom:2px" onError="this.src='../../bilder/white.gif';" src="../../bilder/{{arraySpraak[oppdrag.fraspraak-1].spraak}}.gif"> {{arraySpraak[oppdrag.fraspraak-1].spraak}}</td>
                        <td><img style="height:14px;margin-bottom:2px" onError="this.src='../../bilder/white.gif';" src="../../bilder/{{arraySpraak[oppdrag.tilspraak-1].spraak}}.gif"> {{arraySpraak[oppdrag.tilspraak-1].spraak}}</td>
                        <td>{{fix(oppdrag.fratidspunkt) | date: 'dd-MM-yyyy'}}</td>
                        <td>{{fix(oppdrag.fratidspunkt) | date: 'HH:mm'}} <span style="color: lightgray" class="glyphicon glyphicon-arrow-right"></span> {{fix(oppdrag.tiltidspunkt) | date: 'HH:mm'}}</td>
                        <td>{{oppdrag.oppmoteadresse}} - {{oppdrag.oppmotepostnr}} - {{oppdrag.oppmotepoststed}}</td>
                        <td width="185">
                            <button style="width:49%" class="btn btn-success" (click)="btnInfoClick(i,1)"><span class="glyphicon glyphicon-info-sign"></span> {{VisInfo(i, 1) ? "Sjul" : "Vis mer"}}</button>
                            <button style="width:49%" class="btn btn-primary" (click)="onUtdel(oppdrag)"><span class="glyphicon glyphicon-user"></span> Utdelt</button>
                        </td>
                    </tr>
                    <tr *ngIf="VisInfo(i, 1)">
                        <td colspan="8">
                            <table style="margin-bottom:0" class="table table-bordered table-condensed table1">
                                <tr><th style="width:140px">Kontaktperson</th><td style="color:black">{{arrayOppdrag[index].fornavn}} {{arrayOppdrag[index].etternavn}}</td></tr>
                                <tr><th>Firma</th><td style="color:black">{{arrayOppdrag[index].firma}}</td></tr>
                                <tr><th>Telefon</th><td style="color:black">{{arrayOppdrag[index].telefon}}</td></tr>
                                <tr><th>Epost</th><td style="color:black">{{arrayOppdrag[index].epost}}</td></tr>
                                <tr>
                                    <th>Melding</th>
                                    <td>{{arrayOppdrag[index].andreopplysninger}}</td>
                                </tr>
                            </table>
                            <button *ngIf="!slettErTrykket" style="margin:10px;margin-left:5px" class="btn btn-danger" (click)="btnTilSlettClick()"><span class="glyphicon glyphicon-trash"></span> Slett?</button>
                            <p style="width:220px;margin:10px;margin-left:5px" *ngIf="slettErTrykket && nr == 1">
                                <button style="width:38%" class="btn btn-default" (click)="btnAvbrytTilSlettClick()"><span class="glyphicon glyphicon-chevron-right"></span> Avbryt</button>
                                <button style="width:60%" class="btn btn-danger" (click)="slettOppdrag(oppdrag.persId, i)"><span class="glyphicon glyphicon-trash"></span> Slett for godt</button>
                            </p>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
        


    </div>
</div>