
<div>
<p><span class="glyphicon glyphicon-info-sign"></span> Oversettelse-forespørsler som venter behandling</p>
    <hr />
    <br />
    
    <table class="table table-bordered table-condensed">

        <thead>
            <tr>
                <th>Mottatt</th>
                <th>Type</th>
                <th>Fra til Språk</th>
                <th>Tidspunk</th>
                <th>Sted</th>
                <th>Navn</th> 
            </tr>
        </thead>

        <tbody *ngFor="let oppdrag of arrayOversettelse; let i = index">
            <tr>
                <td>Mottatt dato</td>
                <td>{{oppdrag.type}}</td>
                <td>{{oppdrag.fraspraak}} => {{oppdrag.tilspraak}} </td>
                <td>{{oppdrag.dato}}</td>
                <td>{{oppdrag.sted}}</td>
                <td>{{oppdrag.fornavn}} {{oppdrag.etternavn}}</td>
                <td width="230">
                    <button style="width:70px" class="btn btn-primary" (click)="visUtdel()">Utdel</button>
                    <button style="width:70px" class="btn btn-danger" >Slett</button>
                </td>
            </tr>
        </tbody>
    </table>
    

</div>