


<div *ngIf="showForm">
    <p style="display: inline-block;"><span class="glyphicon glyphicon-info-sign"></span> Utvalg av tolker med språk <b>{{oppdrag !== undefined  ? getSpraak(oppdrag.fraspraak): "null"}}</b> <img style="height:14px;margin-bottom:2px" onError="this.src='../../bilder/white.gif';" src="../../bilder/{{getSpraak(oppdrag.fraspraak)}}.gif"> og <b>{{oppdrag !== undefined ? getSpraak(oppdrag.tilspraak): "null"}}</b> <img style="height:14px;margin-bottom:2px" onError="this.src='../../bilder/white.gif';" src="../../bilder/{{getSpraak(oppdrag.tilspraak)}}.gif"></p>
   
    
     <hr />
    <div>
        


    <h1 >Velg Tolk</h1>
       <br />
    </div>
    
    <div style="width:440px;">




        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th><p style="margin-left:3px">Velg Alle</p> </th>
                    <td align="center"><input style="width: 35px" (click)="setAllChecked()" type="checkbox" name="mon" id="mon" value="1" class="form-control big-checkbox" /></td>
                </tr>
            </thead>
            <tbody *ngFor="let tolk of arrayTolk; let i = index  ">
                <tr>
                    <td>
                        <table style="width: 100%;table-layout: fixed;" >
                            <tr>
                                <td><p style="margin-left:3px">{{tolk.fornavn}} {{tolk.etternavn}}</p></td>
                                <td><p style="float:right"><span class="glyphicon glyphicon-earphone"></span> {{tolk.telefon}}</p></td>
                                <td><span *ngIf="!checkTilgjengelig(i)" style="color:orangered;float:right;margin-right:5px">Utilgjengelig</span></td>
                            </tr>
                                

                        </table>
                    </td>
                    <td align="center"><input [disabled]="!checkTilgjengelig(i)"  [checked]="arrayTolk[i].valgt" (change)="arrayTolk[i].valgt = !arrayTolk[i].valgt" style="width: 35px" type="checkbox" name="checkbox" id="" value="{{tolk}}" class="form-control" /></td>
                </tr>

            </tbody>

        </table>
        
        <div align="center">
            <p>
                <button  style="width:100%" class="btn btn-success" (click)="postForesporsler()">Send forespørsel</button>
            </p>
        </div>

        <div align="center" style="width:440px;">
            <p>
                <button style="width:100%" (click)="tilbake()" class="btn btn-default">Gå tilbake</button>

            </p>
        </div>

    </div>


</div>

<div *ngIf="!showForm">
    <response [underText]="underText" [response]="response" [path]="path" [responseText]="responseText"></response>
    <div *ngIf="response !== 'loading'" align="center"><h3><button (click)="tilbake()" class="btn btn-success btn-lg">Gå tilbake</button></h3></div>
</div>
