<div>


    <div style="margin:10px;background-color:grey;color:white;width:200px;position: absolute;">
        <div>
            <div style="margin-left:10px;">

                <br />
                <table class="table" border="0">
                    <tr style="border-top:hidden"><td><p><span class="glyphicon glyphicon-user"></span></p></td><td><p>admin@admin.no</p></td></tr>
                    <tr><td></td><td><p>kunde@kunde.no</p></td></tr>
                    <tr><td></td><td><p>tolk@tolk.no</p></td></tr>
                    <tr><td><p><span class="glyphicon glyphicon-lock"></span></p></td><td><p>1234</p></td></tr>
                </table>
            </div>
        </div>
    </div>
    <div style="height: calc(100vh - 0px); background-image:  url('../../bilder/tastatur.jpg') ;background-size:cover; background-repeat:no-repeat;  ">

            <div class="login-panel container">
                <div class="col-md-5 col-md-offset-4 panel panel-default">              
                    <div class="gap margin-base-vertical" align="center">
                        <img style="width:95px" src="../../bilder/guard1.png">
                        <h1  style="margin-top:10px" align="center"><a style="color:darkred;text-decoration : none" routerLink="/home" routerLinkActive="active" href="/home"><span style="color:black" class="glyphicon glyphicon-home"></span> Tolkesentralen</a> </h1>   
                    </div>
      
                    <h4 align="center" class="ubuntu-text">{{error}}</h4>

                    <form [formGroup]="skjema" style="margin-top:30px">
                        <div>
                            <p style="width:350px;float: none;margin-left: auto;margin-right: auto;" class="input-group ">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input autofocus type="email" required class="form-control input-lg"
                                       formControlName="brukernavn" placeholder="e-post adresse" />
                            </p>

                            <p style="width:350px;float: none;margin-left: auto;margin-right: auto;" class="input-group ">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" required class="form-control input-lg"
                                       formControlName="passord" placeholder="passord" />
                            </p>
                        </div>

                        <br />

                        <p *ngIf="!loading" class="text-center">
                            <button  (click)="onLogin()" class="btn btn-primary btn-lg">Logg inn</button>

                        </p>

                        <p class="text-center" *ngIf="loading">
                            <loading></loading>
                        </p>
                    </form>

                    <div class="gap margin-base-vertical">
                        <h5 *ngIf="!loading" align="center">Har du ikke konto? <a routerLink="/register">Opprett én</a></h5>
                    </div>

                    <br />

                </div>
            </div>
        </div>
    </div>




