<div>
    <nav  class="navbar navbar-default">
        <div class="container body-content">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a routerLink="/home" routerLinkActive="active" class="navbar-brand" href="/home"><span class="glyphicon glyphicon-home"></span> Hjem</a>
                </div>

            </div>
        </div>
    </nav>
    <div >

        <div>



            <div class="login-panel container">



                <div class="col-md-5 col-md-offset-4 panel panel-default">
                    <div class="gap margin-base-vertical" align="center">
                        <img style="width:100px" src="../../bilder/guard1.png">
                        <h1 style="color:darkred; margin-top:10px" align="center">Tolkesentralen</h1>
                    </div>



                    <h4 align="center" class="ubuntu-text">{{error}}</h4>

                    <form [formGroup]="skjema" style="margin-top:30px">
                        <div>
                            <p style="width:350px;float: none;margin-left: auto;margin-right: auto;" class="input-group ">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input autofocus type="email" required class="form-control input-lg"
                                       formControlName="brukernavn" placeholder="e-post adresse" />
                            </p>

                            <p style="width:350px;float: none;margin-left: auto;margin-right: auto;" class="input-group ">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" required class="form-control input-lg"
                                       formControlName="passord" placeholder="passord" />
                            </p>
                        </div>




                        <br />



                        <p *ngIf="!loading" class="text-center">
                            <button (click)="onLogin()" class="btn btn-primary btn-lg">Logg inn</button>

                        </p>

                        <p class="text-center" *ngIf="loading">
                            <!--<img  src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
                            <loading></loading>
                        </p>
                    </form>



                    <div class="gap margin-base-vertical">
                        <h5 *ngIf="!loading" align="center">Har du ikke konto? <a routerLink="/register">Opprett én</a></h5>
                    </div>

                    <br />

                </div>
            </div>




        </div>

    </div>


    <div style="margin-left:10px;background-color:aquamarine;width:200px;">
        <div >
            <div style="margin-left:10px;">
        
                <br />
                <table class="table" border="0">
                    <tr style="border-top:hidden"><td><p><span class="glyphicon glyphicon-user"></span></p></td><td><p><b>admin@admin.no</b></p></td></tr>
                    <tr><td></td><td><p><b>kunde@kunde.no</b></p></td></tr>
                    <tr><td></td><td><p><b>tolk@tolk.no</b></p></td></tr>
                    <tr><td><p><span class="glyphicon glyphicon-lock"></span></p></td><td><p><b>1234</b></p></td></tr>
                </table>
                <p></p>



                <p> </p>

            </div>
        </div>
        

    </div>


</div>