<h1>{{ checkIfArrayIsEmthy(oppdrag) ? "Dine ubesvarte forespørsler" : "Ingen nye forespørsler"}}</h1>

<br />
<table *ngIf="checkIfArrayIsEmthy(oppdrag)" class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Oppdragsnummer</th>
            <th>Oppdragstype</th>
            <th>Oppdragsgiver</th>
            <th>Fra språk</th>
            <th>Til språk</th>
            <th>Dato</th>
            <th>Tid</th>
            <th>OppdragsAdresse</th>
            <th>Svar</th>

        </tr>
    </thead>
    <tbody *ngFor="let oppdrag of oppdrag; let i = index">
        <tr>
            <td>{{oppdrag.oppdragID}}</td>
            <td>{{oppdrag.typetolk}}</td>
            <td>Tolkesentralen</td>
            <td><img style="height:14px;margin-bottom:2px" onError="this.src='../../bilder/white.gif';" src="../../bilder/{{Spraak[oppdrag.fraspraak-1].spraak}}.gif"> {{Spraak[oppdrag.fraspraak-1].spraak}}</td>
            <td><img style="height:14px;margin-bottom:2px" onError="this.src='../../bilder/white.gif';" src="../../bilder/{{Spraak[oppdrag.tilspraak-1].spraak}}.gif"> {{Spraak[oppdrag.tilspraak-1].spraak}}</td>
            <td>{{fix(oppdrag.fratidspunkt) | date: 'yyyy-MM-dd'}}</td>
            <td>{{fix(oppdrag.fratidspunkt) | date: 'HH:mm'}} <span style="color: lightgray" class="glyphicon glyphicon-arrow-right"></span> {{fix(oppdrag.tiltidspunkt) | date: 'HH:mm'}}</td>
            <td>{{oppdrag.oppmoteadresse}}  {{PoststedStreng(oppdrag.oppmotepostnr, oppdrag.oppmotepoststed)}} </td>
            <td><button (click)="postSvarOpprag(i, oppdrag.oppdragID, 0)" class="btn btn-danger">Nei</button> &nbsp; <button (click)="postSvarOpprag(i, oppdrag.oppdragID, 1)" class="btn btn-success">Ja</button></td>
        </tr>
    </tbody>
</table>
